{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>

<div class="row">
  {% for destination in destinations %}

  	<div class="card border-info mb-3" style="width: 20rem;">

  		<img class="card-img-top" src="{{destination.pretty_picture.url}}" style="height:13rem;" alt="image">
  		<div class="card-body">
    		<h5 class="card-title"> {{destination.name}} </h5>
    		<p class="card-text">{{destination.activities}}</p>
    		
  	</div>
  	<a href="{% url 'destination-detail' destination.id %}"class="btn btn-outline-info align">Details</a>
  </div>
  {% endfor %}
</div>

{% endblock content %}